h1 {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

img { 
  border-radius: 5px;
  max-width: 50%;
  max-height: auto;
  align: center;
}

ul {
  font-size: 20px;
  line-height: 30px;
}